extends ../layout.pug

block isi
	.container
		center
			h1 Brankas
			hr
		.row 
			.col-sm-9
				.table-responsive
					table.table.table-bordered
						thead
							tr
								th Nama file
								th Link download
								th Jatah
						tbody.semua-file
			.col-sm-3
				.panel.panel-success
					.panel-heading Upload
					.panel-body
						form.form-upload(method='post' action='/upload.php' enctype='multipart/form-data')
							.form-group
								label File
								input.file(type='file' name='file')
							.form-group
								label Batasan download
								input.form-control.jatah(type='number' value='1' name='jatah')
							.from-group
								input.btn.btn-default(type='submit' value='Upload')
				.panel.panel-default
					.panel-heading Menu
					.list-group
						a.list-group-item(href='/logout.php') Logout